<div id="c-maintenance-user-login-reminders"><div id="a-new">

  <%= form_tag(maintenance_user_login_reminder_path, :class => "simple_form session_form") do %>
    <h1>Login Reminder</h1>

    <div class="input email required">
      <label for="user_email" class="required">Email</label>
      <%= email_field(:user, :email) %>
    </div>

    <%= submit_tag "Submit" %>
  <% end %>
  
  <section class="session_info">
    <p>Enter the email used at signup and this page will show the matching username(s).</p>
    <p>Password details are not provided and are not changed.</p>
  </section>

  <% if @matched_usernames.present? %>
    <section class="session_info">
      <h4>Username Reminder</h4>
      <p>Accounts using that email:</p>
      <ul>
        <% @matched_usernames.each do |name| %>
          <li><b><%= name %></b></li>
        <% end %>
      </ul>
    </section>
  <% end %>
</div></div>

<%= render "sessions/secondary_links" %>

<% content_for(:page_title) do %>
  Login Reminder
<% end %>
