<div id="c-maintenance-user-password-resets"><div id="a-new">

  <%= form_tag(maintenance_user_password_reset_path, :class => "simple_form session_form") do %>
    <h1>Reset Password</h1>

    <% if Danbooru.config.password_reset_show_link? %>
      <div class="input email required">
        <label for="email" class="required">Email</label>
        <%= email_field_tag :email, @reset_email.to_s, autocomplete: "email", maxlength: 100 %>
      </div>

      <div class="input required">
        <label for="password" class="required">New Password</label>
        <%= password_field_tag :password, "", autocomplete: "new-password" %>
      </div>

      <div class="input required">
        <label for="password_confirm" class="required">Confirm New Password</label>
        <%= password_field_tag :password_confirm, "", autocomplete: "new-password" %>
      </div>
    <% else %>
      <div class="input required">
        <label for="name" class="required">Username</label>
        <%= text_field_tag :name, @reset_name.to_s, autocomplete: "username" %>
      </div>

      <div class="input required">
        <label for="otp_code" class="required">Authenticator or Backup Code</label>
        <%= text_field_tag :otp_code, "", autocomplete: "one-time-code", maxlength: 24 %>
      </div>

      <div class="input required">
        <label for="password" class="required">New Password</label>
        <%= password_field_tag :password, "", autocomplete: "new-password" %>
      </div>

      <div class="input required">
        <label for="password_confirm" class="required">Confirm New Password</label>
        <%= password_field_tag :password_confirm, "", autocomplete: "new-password" %>
      </div>
    <% end %>

    <%= submit_tag "Submit" %>
  <% end %>
  <section class="session_info">
    <% if Danbooru.config.password_reset_show_link? %>
      <p>Enter your account email and new password to reset your password immediately.</p>
      <p>This mode does not use authenticator codes.</p>
    <% else %>
      <p>This site does not send password reset emails.</p>
      <p>To reset your password, enter your username and an authenticator app code (or a backup code).</p>
    <% end %>
  </section>
</div></div>

<%= render "sessions/secondary_links" %>

<% content_for(:page_title) do %>
  Reset Password
<% end %>
