<!doctype html>
<html>
<head>
  <%= render "layouts/head" %>
</head>
<%= tag.body(**body_attributes(CurrentUser.user)) do %>
  <%= render "layouts/theme_include" %>

  <%= render "layouts/navigation/navigation" %>

  <% if CurrentUser.has_mail? && cookies[:hide_dmail_notice] != "true" %>
    <%= render "users/dmail_notice" %>
  <% end %>

  <div id="page">
    <%= render "news_updates/notice", news_update: NewsUpdate.recent %>

    <% if CurrentUser.user.is_banned? %>
      <%= render "users/ban_notice" %>
    <% end %>

    <% if !CurrentUser.is_anonymous? && !CurrentUser.is_verified? %>
      <%= render "users/validation_notice" %>
    <% end %>

    <%# Notification Toasts %>
    <div class="ui-corner-all ui-state-highlight" id="notice" style="<%= "display: none;" unless flash[:notice] %>">
      <span><%= format_text(flash[:notice], inline: true) %>.</span>
      <a href="#" id="close-notice-link">close</a>
    </div>

    <%= yield :layout %>
  </div>

  <% unless content_for?(:skip_tos_warning) %>
    <%= render "static/tos_warning" %>
  <% end %>

  <%= render "static/footer" %>
  <% if Danbooru.config.enable_visitor_metrics? && Danbooru.config.posthog_api_key.present? %>
    <%= javascript_tag nonce: true do %>
      !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.crossOrigin="anonymous",p.async=!0,p.src=s.api_host.replace(".i.posthog.com","-assets.i.posthog.com")+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once reset opt_in_capturing opt_out_capturing has_opted_in_capturing has_opted_out_capturing group set_config stop_session_recording start_session_recording onSessionId".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
      posthog.init("<%= j Danbooru.config.posthog_api_key %>", {
        api_host: "<%= j Danbooru.config.posthog_api_host %>",
        capture_pageview: true
      });
    <% end %>
  <% end %>
  <% if Danbooru.config.fsc_modal_enabled? %>
    <script src="https://assets.freespeechcoalition.com/code/avActionModal.min.js"></script>
  <% end %>
  <%= render "static/deferred_posts" %>
<% end %>
</html>
